

#gyomber {
    background-color: rgb(240, 227, 43);
    border: 10px solid rgb(163, 154, 28);
}

#kamilla {
    background-color: rgb(248, 248, 248);
    border: 10px solid rgb(255, 240, 174);
}

#tarolo {
    border: 10px solid rgb(117, 166, 182);
    border-radius: 10vh;
    padding: 10px;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(173, 216, 230);
    background-image: url(kepek/fohatter.png);
}

#tarolo div {
    background-image: url(kepek/divhatter.png);
    border-radius: 10vh;
    padding: 50px;

}






div {
    background-repeat: no-repeat;
    background-size: cover;
    margin: 100px;
}



#h1div {
    text-align: center;
    margin: auto;
    font-size: 3.5vw;
    border-radius: 5vh;
    background-color: white;
    border: 10px dashed black;
}

h2 {
    text-align: center;
    font-size: 3vw;
}

.tarolo h2 {
    border: 10px dashed black;
    border-radius: 5vh;
    padding: 10px;
}



* {
    box-sizing: border-box
}
main {
    background-image: url(kepek/fohatter.png);
    background-color: lightgoldenrodyellow;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    max-width: 900px;
    
    padding-left: 1em;
    padding-right: 1em;
    
}
nav {
    text-align: center;
    grid-column: 1fr 1fr;
    border: 10px;
    border-radius: 10vh;
    background-color: rgb(173, 216, 230);
    border-bottom: 5vh;
}
nav a {
    font-size: 2ww;
    border: 10px;
    border-color: bisque;
    border-radius: 4vh;
    padding: 5px;
    text-decoration: none;
    color: black;


}
nav :hover{
    color: red;
}
p {
    text-align: justify;
    font-size: 1.5vw;

}
img{
    width:100%
}
@media screen and (max-width:600px){
    main {
        width: 100%;
    }
}